{% extends "base.html" %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            <div class="bg-secondary rounded h-100 p-4 text-center">
                <h4 class="mb-4">Delete Target</h4>
                <p>Are you sure you want to delete <strong>{{ target.target_name }}</strong>?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    <a href="{% url 'list_watchlist' %}" class="btn btn-secondary ms-2">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 